
.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: 	#0000ff;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: 	#0000ff;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.main-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 30px;

}

.main-menu>li {
	display: inline-flex;
}

.main-menu>li+li {
	margin-left: 20px;
}

.main-menu>li>a {
	padding: 0 0 20px 0;
	position: relative;
	text-transform: uppercase;
	color: #000;
	font-weight: bold;
	letter-spacing: 0.2px;
	font-size: 15px;
	text-decoration: none;
}

.main-menu li {
	margin: 0;
	white-space: nowrap;
}

.main-menu li.menu-children {
	position: relative;
	margin-right: 12px;
}

.main-menu li.menu-children:after {
	position: absolute;
	content: "\2039";
	color: #337AB7;
	font-size: 20px;
	font-weight: bold;
	right: -12px;
	top: -2px;
	transform: rotate(-90deg);
}

.main-menu li li.menu-children:after {
	position: absolute;
	content: "\2039";
	color: #FFF;
	font-size: 20px;
	font-weight: bold;
	right: 10px;
	top: 12px;
	transform: rotate(180deg);
}

.main-menu li.menu-children:hover>ul {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

.main-menu ul {
	padding: 10px 0;
	margin: 0;
	list-style: none;
	background-color: #337AB7;
	position: absolute;
	z-index: 20;
	min-width: 220px;
	top: 100%;
	left: -30px;
	opacity: 0;
	visibility: hidden;
	transform: translateY(5px);
	transition: all 200ms cubic-bezier(0.43, 0.59, 0.16, 1.25);
}

.main-menu ul li {
	display: block;
	padding: 0 10px;
	line-height: 1.1;
}

.main-menu ul li:last-child {
	margin-bottom: 0;
}

.main-menu ul li a {
	display: block;
	color: #fff;
	padding: 10px;
	transition: all .3s;
	text-decoration: none;
}

.main-menu ul li a:hover {
	color: #337AB7;
	background: #FFF;
	text-decoration: none;
}

.main-menu ul ul {
	top: 0;
	left: 100%;
}
